{% extends "_base.html" %}

{%- block content %}
{% set params = request.args %}
{% if params.card_type == 'vcard' %}
  {% set svg_url = url_for('views.get_vcard_svg', **params) %}
  {% set png_url = url_for('views.get_vcard_png', **params) %}
  {% set vcf_url = url_for('views.get_vcard_vcf', **params) %}
{% elif params.card_type == 'mecard' %}
  {% set svg_url = url_for('views.get_mecard_svg', **params) %}
  {% set png_url = url_for('views.get_mecard_png', **params) %}
  {% set vcf_url = url_for('views.get_mecard_vcf', **params) %}
{% else %}
  {% set svg_url = '' %}
  {% set png_url = '' %}
  {% set vcf_url = '' %}
{% endif %}

<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container content">
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <div class="is-flex is-justify-content-center">
            <figure class="image is-128x128">
              <img src="{{ svg_url }}">
            </figure>
          </div>

          <hr>

          <div class="has-text-centered">
            <a class="button" href="{{ url_for('views.get_home', **params) }}">
              <span class="icon is-small">
                <img src="{{ url_for('static', filename='icons/edit.svg') }}">
              </span>
              <span>Edit</span>
            </a>

            <a class="button" href="{{ png_url }}">
              <span class="icon is-small">
                <img src="{{ url_for('static', filename='icons/download.svg') }}">
              </span>
              <span>PNG</span>
            </a>

            <a class="button" href="{{ vcf_url }}">
              <span class="icon is-small">
                <img src="{{ url_for('static', filename='icons/download.svg') }}">
              </span>
              <span>VCF</span>
            </a>
          </div>

          <hr>

          <div class="h-card">
            <div class="is-flex is-justify-content-center">
              <figure class="image is-64x64">
                <img class="u-photo is-rounded" src="{{ params.picture }}"/>
              </figure>
            </div>

            <h1 class="has-text-centered">
              <span class="p-name">{{ params.firstname }} {{ params.lastname }}</span>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{%- endblock %}
