[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.2.3"
gunicorn = "==20.1.0"
honcho = "==1.1.0"
jinja2 = "==3.1.2"
pydantic = {extras = ["email"],version = "==1.10.7"}
segno = "==1.5.2"
whitenoise = "==6.4.0"

[dev-packages]
bandit = "==1.7.5"
black = "==22.12.0"
faker = "==18.3.0"
flake8 = "==6.0.0"
invoke = "==2.0.0"
mypy = "==1.1.1"
pytest = "==7.2.2"
pytest-cov = "==4.0.0"
python-dotenv = "==1.0.0"
safety = "==2.3.5"

[requires]
python_version = "3.10.6"
