[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.0.0"
gunicorn = "==21.2.0"
honcho = "==1.1.0"
jinja2 = "==3.1.2"
pydantic = {extras = ["email"],version = "==1.10.13"}
segno = "==1.5.2"
whitenoise = "==6.6.0"

[dev-packages]
bandit = "==1.7.5"
black = "==22.12.0"
faker = "==19.13.0"
flake8 = "==6.1.0"
invoke = "==2.2.0"
mypy = "==1.6.1"
pytest = "==7.4.2"
pytest-cov = "==4.1.0"
python-dotenv = "==1.0.0"
safety = "==2.3.5"

[requires]
python_version = "3.11.4"
